* {
  padding:0;
  margin:0;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.clearfix {
  overflow: auto;
}

.education-entry, .work-entry, .online-education-entry, .project-images-entry {
  padding-left: 5%;
  padding-right: 5%;
}

h1 {
  font-size: 40px;
  color: hsla(101, 65%, 60%, 1); /* green */
  line-height: 48px;
  display: inline;
  padding-right: 5px;
  font-weight: 400;
}

h2 {
  font-weight: 900;
  font-size: 24px;
  color: #999999; /* light gray */
  line-height: 29px;
  padding: 10px;
}

h3 {
  
  font-size: 20px;
  color: #999999; /* light gray */
  line-height: 22px;
  text-align: left;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4A4A4A; /* dark gray */
  line-height: 17px;
}

h2, h3, h4, h5 {
  padding:10px;
  padding-left: 5%;
  padding-right: 5%;
}


.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999999; /* light gray */
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999999;
  line-height: 16px;
  float: right;

}

p {
  font-size: 14px;
  color: #333333;
  line-height: 21px;
}

a {
  color: #1199C3;
  text-decoration: none;
  margin-top: 10px;
  display: block;
  font-weight: 400;
}

.welcome-message {
  font-style: italic;
  font-size: 18px;
  color: white;
  line-height: 28px;
  margin-top: 5px;
  margin-bottom: 15px;
  font-weight: 300;
}

#skillsH3 {
  color: hsla(101, 65%, 60%, 1); /* green */
  display: none;
  font-weight: 400;
}

/* footer styling, changed .orange to .green-over-blue */
.green-over-blue {
  background-color: white;
  color: hsla(101, 65%, 60%, 1); /* green */
}

/* changed .orange-text to .green-text */
.green-text {
  color: hsla(101, 65%, 60%, 1); /* green */
}

.white-text {
  color: #999999; /* light gray */
}

/* changed .gray to .light-blue*/
.light-blue {
  background-color: hsla(225, 30%, 95%, 1); /* light blue */
  padding-bottom: 10px;
  clear:both;
}

/*changed .dark-gray to .dark-blue*/
.dark-blue {
  background-color: hsla(225, 60%, 20%, 1); /* blue */
}

/* TODO: Replace with image later */
#header {
  background-color: hsla(225, 60%, 20%, 1);
}

/* applied to header and footer ul*/
.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
  padding-top: 0px;
  padding-bottom: 20px;
}

/* applied to header */
.center-content {
  padding-top: 2.5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2.5%
}

ul, li {
  list-style-type: none;
}

li {
  display: inline-block;
}

/* add space between skills */

#skills >li {
  padding-right: 10px;
}

.biopic {
  float: left;
  margin: 10px 15px 10px 0;
  width: 200px;
  display: none;
  border: 1px solid white;
  border-radius: 10px
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

/* Bar chart stuff */
.chart div {
  font: 10px sans-serif;
  background-color: #4A4A4A;
  text-align: right;
  padding: 3px;
  margin: 1px;
  height: 12px;
  color: white;
  display: inline-block;
}

span {
  padding: 5px;
}

#letsConnect {
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  #letsConnect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #letsConnect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  /*
  .welcome-message {
    display: none;
  }
  */
}

#map {
  display: block;
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 80px;
  margin-bottom: 0px;
}

@media only screen and (min-width: 750px) {
  #skillsH3,
  .biopic {
    display: block;
  }
}

/* make more space between sections */
#workExperience, #projects, #education, #online-education, #skillDiagram, #mapDiv {
  padding-top: 50px;
}

.a-no-top-margin {
  margin-top: 0;
}

/* make more space between entries */
.education-entry, .work-entry {
  margin-top: 20px;
}

/* make less space between first entry and entry title */
.education-entry:nth-of-type(1), .work-entry:nth-of-type(1) {
  margin-top: 10px;
}

.no-padding {
  text-align: justify;
  padding: 0;
}

/* applied to header contacts */
.flex-item >a {
  margin-top: 0;
}

#footerContacts >.flex-item {
  padding-top: 5px;
}

#footerContacts {
  padding-bottom: 5px;
}

.role {
  color: white;
  font-weight: 300;
}

#skills {
  padding-left: 0;
}

/* education formatting */
.education-details {
  margin-top: -15px;
  padding: 0;
  line-height: normal;
}

.education-details:nth-of-type(1) {
  margin: 0;
  padding: 0;
}

/* project formatting */
/* make 2 images per row and have edges line up with edges of text - padding adds up to 5% each side total */
.project-entry {
  padding-left: 4.4%;
  padding-right: 4.4%;
}

.project-entry >a, .project-entry >.date-text, .project-entry>p {
  padding-left: .6%;
  padding-right: .6%;
}

.project-entry >.columns-for-images {
  width: 50%;
  display: inline-block;
  max-width: 500px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: .6%;
  margin: 0;
}

/* make space between project entries */
.columns-for-images:nth-of-type(4) {
  margin-bottom: 50px;
}

/* skills diagram styles for radial-reingold-tilford tree */

.node circle {
  fill: hsla(101, 65%, 60%, 1);
  stroke: hsla(225, 60%, 20%, 1);
  stroke-width: 1.5px;
}

.node {
  font: 14px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1px;
}

/* center skills diagram */
svg {
  display: block;
  margin: 0 auto;
  padding-top: 60px;
}

/* styling for headings that toggle */
/* make each section hidden by default unless toggled */
/*
.toggle >*:not(:first-child) {
  display: none;
}
*/
.toggle >h2:nth-of-type(1){
  cursor: pointer;
}

.toggle >h2:nth-of-type(1):hover {
  text-shadow: .5px .5px .5px black;
}

